{:kotoba.app/id "cloud.itonami.isic-8691", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid7kyxbnpmmsxg4p6dbc5f5fn6znid6mdoxqjyhbllcqb4hq5ejc4", :kotoba.app/embed-url "ipfs://bafkreid7kyxbnpmmsxg4p6dbc5f5fn6znid6mdoxqjyhbllcqb4hq5ejc4", :published {:archive "https://kotobase.net/ipfs/bafkreid7kyxbnpmmsxg4p6dbc5f5fn6znid6mdoxqjyhbllcqb4hq5ejc4", :size 75216, :put-status 201, :get-status 200, :at "2026-08-15T14:03:04.354Z"}}
